.botaoIniciar {
    padding: 1rem 2rem;
    background-color: #f5c26b;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background 0.3s;
  }
  
  .botaoIniciar:hover {
    background-color: #e2a94e;
  }
 

.atividadeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    text-align: center;
  }
  
  .imagemContainer {
    margin-bottom: 1rem;
  }
  
  .imagem {
    max-width: 200px;
    margin-bottom: 1rem;
  }
  
  .opcoesContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2rem;
  }
  
  .botaoOpcao {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .opcaoImagem {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }
  
  .feedback {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: green;
  }
  